.ItemDetailCointainer{
    width: 100%;
    height: auto;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(27, 27, 27);
}

.backButton{
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgb(61, 85, 66);
    color: wheat;
    font-size: 15px;
    padding: 15px;
    margin: 10px;
    cursor: pointer   
}

.ItemDetail{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: auto;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgb(255, 255, 255);
}

.ItemDetail img{
    width: 250px;
    height: 250px;
}

h3{
    color: black;
}