.fa-shopping-cart{
    font-size: 1.8vw;
}

.cartButton{
    border: none;
    background: none;
    cursor: pointer;
}

.cartButton:hover{
    color: rgb(95, 95, 95);
    transition: 500ms;
}

.active{
    color: aliceblue;
}