.navBar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 60px;
    background-color: rgb(255, 255, 255);
    color: black;
    font-weight: 600;
    position: fixed;
}

.navLogo{
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.navButton{
    cursor: pointer;
    font-size: 20px;
}

.navButton:hover{
    border-bottom: 1px solid black;
    transition: 2000ms;
}

.active{
    color: white;
    background-color: rgb(50, 75, 53);
    padding: 10px;
    border-radius: 10px;
}